@charset "utf-8";
*{font-family: "Microsoft YaHei", sans-serif!important;}
a{color: #336699;text-decoration: none;}
a:hover{text-decoration: underline;}
#header{height:85px;}
#leftside, #container, #splitBar, #splitBarProxy{top:90px;}
.page .searchBar .subBar li input{margin-top:2px;}
.accordion .accordionHeader h2 span{background-image: none;margin-top: 5px;}
.panelBar .toolBar a span{background-image: none;height: 19px;line-height: 15px;margin: 4px 0 4px 0;}
.panelBar .toolBar li.hover a span{height: 19px;line-height: 15px;margin: 4px 0 4px 0;}
span.error{/*width: 150px;left: 268px;height: 23px*/}