@charset "utf-8";

/*------------------------------ 全局样式定义 ------------------------------*/
* {
	font-family: "Microsoft YaHei", sans-serif !important;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*------------------------------ 覆盖dwz样式定义 ------------------------------*/
#header {
	height: 85px;
}

#leftside,#container,#splitBar,#splitBarProxy {
	top: 90px;
}

.page .searchBar .subBar li input {
	margin-top: 2px;
}

.accordion .accordionHeader h2 span {
	background-image: none;
	margin-top: 5px;
}

.panelBar .toolBar a span {
	background-image: none;
	height: 19px;
	line-height: 15px;
	margin: 4px 0 4px 0;
}

.panelBar .toolBar li.hover a span {
	height: 19px;
	line-height: 15px;
	margin: 4px 0 4px 0;
}

table.list td {
	border-bottom: solid 1px #ededed;
}

.pageFormContent dl {
	width: 320px;
}

.pageFormContent dt {
	width: 100px;
	line-height: 23px;
}

.pageFormContent dd {
	width: 200px;
	line-height: 23px;
}

.pageFormContent dl.nowrap dd,.nowrap dd {
	width: 540px;
}

.pageFormContent fieldset legend label {
	float: none;
	width: auto;
	line-height: normal;
}

.checkboxCtrl {
	width: auto;
	height: auto;
}

span.error {
	width: 1px;
	height: 21px;
	padding-left: 20px;
	position: static;
}

/*------------------------------ 新增自定义样式 ------------------------------*/
/* 单列表单样式，应用到div.pageFormContent元素上 */
.s-cols dl {
	width: 450px;
}

.s-cols dd {
	width: 340px;
}

.s-cols dl.nowrap dd {
	width: 340px;
}
/* 表单dd中放置文本或其它元素时使用 */
.dd-span {
	line-height: 23px;
	float: left;
}
/** 处理checkbox、radio样式 */
.dd-span input[type=checkbox],input[type=radio] {
	margin: 0px;
	vertical-align: -3px;
}
/** 处理label样式 */
label.dd-span {
	width: auto;
	padding-left: 0px;
}
/* 文本框宽度 */
.ss-input {
	width: 35px;
}

.s-input {
	width: 60px;
}

.m-input {
	width: 310px;
}

.l-input {
	width: 451px;
}
/* 双线分割线 */
.d-line {
	clear: both;
	display: block;
	overflow: hidden;
	text-indent: -1000px;
	width: auto;
	height: 2px;
	margin: 5px 0px 5px 0px;
	border-style: double;
	border-width: 0 0 3px 0;
}
/* 颜色样式 */
.green {
	color: green;
}

.gray {
	color: gray;
}

.orange {
	color: orange;
}

.red {
	color: red;
}
/* 文本位置 */
.c-text {
	text-align: center !important;
}

.l-text {
	text-align: left !important;
}

.r-text {
	text-align: right !important;
}
/* 主页面左右结构样式 */
.tree-l-box {
	float: left;
	display: block;
	overflow: auto;
	width: 25%;
	border-right: solid 1px #CCC;
}

.tree-r-box {
	float: left;
	display: block;
	overflow: auto;
	width: 74.8%;
}

.tree-msg {
	text-align: center;
	padding: 10px;
}

#calendar .todayBut {
    background-color: #CFEBEE;
    border: 1px solid #38B1B9;
    color: #08575B;
    width: 40px;
}