@charset "utf-8";

a {
	color: #336699;
}

input.error,textarea.error {
	border-color: #F80C11 #FB7E81 #FB7E81 #F80C11;
}

span.error {
	cursor: help;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('images/warn.png');
}

#header .headerNav {
  background-position: 100% 0px;
}

#navMenu {
	background-image: none;
	background-color: rgb(52, 80, 100);
}

#navMenu li.selected {
	background-color: rgb(229, 237, 239);
}

#navMenu li.selected span {
	color: rgb(52, 80, 100);
}

#navMenu li, #navMenu li.selected a, #navMenu li.selected span {
	background-image: none;
}