<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 数据库驱动 -->
	<entry key="db.driver">oracle.jdbc.OracleDriver</entry>
	<!-- 数据库链接地址 -->
	<entry key="db.url">jdbc:oracle:thin:@127.0.0.1:1521:orcl</entry>
	<!-- 数据库用户名 -->
	<entry key="db.username">coo</entry>
	<!-- 数据库用户密码 -->
	<entry key="db.password">coo</entry>
	<!-- 数据库适配器 -->
	<entry key="db.dialect">org.hibernate.dialect.Oracle10gDialect</entry>
	<!-- 全文索引保存目录 -->
	<entry key="search.indexBase">d:/indexed</entry>
</properties>