@charset "utf-8";

.a01, .a02, .a03, .a04, .a05, .a06, .a07, .a08, .a09, .a10, .a11, .a12,
	.a13, .a14, .a15, .a16, .a17, .a18, .a19, .a20, .a21, .a22, .a23, .a24,
	.a25, .a26, .a27, .a28, .a29, .a30, .a31, .a32, .a33, .a34, .a35, .a36,
	.a37, .a38, .a39 {
	background-repeat: no-repeat;
	background-image: url(A.png) !important;
}

.a01 {
	background-position: left top !important;
}

.a02 {
	background-position: left -30px !important;
}

.a03 {
	background-position: left -60px !important;
}

.a04 {
	background-position: left -90px !important;
}

.a05 {
	background-position: left -120px !important;
}

.a06 {
	background-position: left -150px !important;
}

.a07 {
	background-position: left -180px !important;
}

.a08 {
	background-position: left -210px !important;
}

.a09 {
	background-position: left -240px !important;
}

.a10 {
	background-position: left -270px !important;
}

.a11 {
	background-position: left -300px !important;
}

.a12 {
	background-position: left -330px !important;
}

.a13 {
	background-position: left -360px !important;
}

.a14 {
	background-position: left -390px !important;
}

.a15 {
	background-position: left -420px !important;
}

.a16 {
	background-position: left -450px !important;
}

.a17 {
	background-position: left -480px !important;
}

.a18 {
	background-position: left -510px !important;
}

.a19 {
	background-position: left -540px !important;
}

.a20 {
	background-position: left -570px !important;
}

.a21 {
	background-position: left -600px !important;
}

.a22 {
	background-position: left -630px !important;
}

.a23 {
	background-position: left -660px !important;
}

.a24 {
	background-position: left -690px !important;
}

.a25 {
	background-position: left -720px !important;
}

.a26 {
	background-position: left -750px !important;
}

.a27 {
	background-position: left -780px !important;
}

.a28 {
	background-position: left -810px !important;
}

.a29 {
	background-position: left -840px !important;
}

.a30 {
	background-position: left -870px !important;
}

.a31 {
	background-position: left -900px !important;
}

.a32 {
	background-position: left -930px !important;
}

.a33 {
	background-position: left -960px !important;
}

.a34 {
	background-position: left -990px !important;
}

.a35 {
	background-position: left -1020px !important;
}

.a36 {
	background-position: left -1050px !important;
}

.a37 {
	background-position: left -1080px !important;
}

.a38 {
	background-position: left -1110px !important;
}

.a39 {
	background-position: left -1140px !important;
}

.b01, .b02, .b03, .b04, .b05, .b06, .b07, .b08, .b09, .b10, .b11, .b12,
	.b13, .b14, .b15, .b16, .b17, .b18, .b19, .b20, .b21, .b22, .b23, .b24,
	.b25, .b26, .b27, .b28, .b29, .b30, .b31, .b32, .b33, .b34, .b35 {
	background-repeat: no-repeat;
	background-image: url(B.png) !important;
}

.b01 {
	background-position: left top;
}

.b02 {
	background-position: left -30px;
}

.b03 {
	background-position: left -60px;
}

.b04 {
	background-position: left -90px;
}

.b05 {
	background-position: left -120px;
}

.b06 {
	background-position: left -150px;
}

.b07 {
	background-position: left -180px;
}

.b08 {
	background-position: left -210px;
}

.b09 {
	background-position: left -240px;
}

.b10 {
	background-position: left -270px;
}

.b11 {
	background-position: left -300px;
}

.b12 {
	background-position: left -330px;
}

.b13 {
	background-position: left -360px;
}

.b14 {
	background-position: left -390px;
}

.b15 {
	background-position: left -420px;
}

.b16 {
	background-position: left -450px;
}

.b17 {
	background-position: left -480px;
}

.b18 {
	background-position: left -510px;
}

.b19 {
	background-position: left -540px;
}

.b20 {
	background-position: left -570px;
}

.b21 {
	background-position: left -600px;
}

.b22 {
	background-position: left -630px;
}

.b23 {
	background-position: left -660px;
}

.b24 {
	background-position: left -690px;
}

.b25 {
	background-position: left -720px;
}

.b26 {
	background-position: left -750px;
}

.b27 {
	background-position: left -780px;
}

.b28 {
	background-position: left -810px;
}

.b29 {
	background-position: left -840px;
}

.b30 {
	background-position: left -870px;
}

.b31 {
	background-position: left -900px;
}

.b32 {
	background-position: left -930px;
}

.b33 {
	background-position: left -960px;
}

.b34 {
	background-position: left -990px;
}

.b35 {
	background-position: left -1020px;
}

.c01, .c02, .c03, .c04, .c05, .c06, .c07, .c08, .c09, .c10, .c11, .c12,
	.c13, .c14, .c15, .c16, .c17, .c18, .c19, .c20, .c21, .c22, .c23, .c24,
	.c25 {
	background-repeat: no-repeat;
	background-image: url(C.png) !important;
}

.c01 {
	background-position: left top;
}

.c02 {
	background-position: left -40px;
}

.c03 {
	background-position: left -80px;
}

.c04 {
	background-position: left -120px;
}

.c05 {
	background-position: left -160px;
}

.c06 {
	background-position: left -200px;
}

.c07 {
	background-position: left -240px;
}

.c08 {
	background-position: left -280px;
}

.c09 {
	background-position: left -320px;
}

.c10 {
	background-position: left -360px;
}

.c11 {
	background-position: left -400px;
}

.c12 {
	background-position: left -440px;
}

.c13 {
	background-position: left -480px;
}

.c14 {
	background-position: left -520px;
}

.c15 {
	background-position: left -560px;
}

.c16 {
	background-position: left -600px;
}

.c17 {
	background-position: left -640px;
}

.c18 {
	background-position: left -680px;
}

.c19 {
	background-position: left -720px;
}

.c20 {
	background-position: left -760px;
}

.c21 {
	background-position: left -800px;
}

.c22 {
	background-position: left -840px;
}

.c23 {
	background-position: left -880px;
}

.c24 {
	background-position: left -920px;
}

.c25 {
	background-position: left -960px;
}

.d01, .d02, .d03 {
	background-repeat: no-repeat;
	background-image: url(D.png) !important;
}

.d01 {
	background-position: 3px top;
}

.d02 {
	background-position: 3px -30px;
}

.d03 {
	background-position: 3px -60px;
}

.e01, .e02, .e03, .e04, .e05, .e06, .e07, .e08, .e09, .e10, .e05, .e11,
	.e12, .e13, .e14, .e15, .e16, .e17, .e18 {
	background-repeat: no-repeat;
	background-image: url(E.png) !important;
}

.e01 {
	background-position: left top;
}

.e02 {
	background-position: left -30px;
}

.e03 {
	background-position: left -60px;
}

.e04 {
	background-position: left -90px;
}

.e05 {
	background-position: left -120px;
}

.e06 {
	background-position: left -150px;
}

.e07 {
	background-position: left -180px;
}

.e08 {
	background-position: left -210px;
}

.e09 {
	background-position: left -240px;
}

.e10 {
	background-position: left -270px;
}

.e11 {
	background-position: left -300px;
}

.e12 {
	background-position: left -330px;
}

.e13 {
	background-position: left -360px;
}

.e14 {
	background-position: left -390px;
}

.e15 {
	background-position: left -420px;
}

.e16 {
	background-position: left -450px;
}

.e17 {
	background-position: left -480px;
}

.e18 {
	background-position: left -510px;
}

.f01, .f02, .f03, .f04, .f05, .f06, .f07, .f08, .f09, .f10 {
	background-repeat: no-repeat;
	background-image: url(F.png) !important;
}

.f01 {
	background-position: left top;
}

.f02 {
	background-position: left -30px;
}

.f03 {
	background-position: left -60px;
}

.f04 {
	background-position: left -90px;
}

.f05 {
	background-position: left -120px;
}

.f06 {
	background-position: left -150px;
}

.f07 {
	background-position: left -180px;
}

.f08 {
	background-position: left -210px;
}

.f09 {
	background-position: left -240px;
}

.f10 {
	background-position: left -270px;
}

.g01, .g02, .g03, .g04, .g05, .g06, .g07, .g08, .g09, .g10, .g11, .g12,
	.g13, .g14, .g15, .g16, .g17, .g18, .g19, .g20, .g21, .g22, .g23, .g24,
	.g25, .g26, .g27, .g28, .g29, .g30, .g31, .g32, .g33, .g34 {
	background-repeat: no-repeat;
	background-image: url(G.png) !important;
}

.g01 {
	background-position: left top;
}

.g02 {
	background-position: left -66px;
}

.g03 {
	background-position: left -132px;
}

.g04 {
	background-position: left -198px;
}

.g05 {
	background-position: left -264px;
}

.g06 {
	background-position: left -330px;
}

.g07 {
	background-position: left -396px;
}

.g08 {
	background-position: left -462px;
}

.g09 {
	background-position: left -528px;
}

.g10 {
	background-position: left -594px;
}

.g11 {
	background-position: left -660px;
}

.g12 {
	background-position: left -726px;
}

.g13 {
	background-position: left -792px;
}

.g14 {
	background-position: left -858px;
}

.g15 {
	background-position: left -924px;
}

.g16 {
	background-position: left -990px;
}

.g17 {
	background-position: left -1056px;
}

.g18 {
	background-position: left -1122px;
}

.g19 {
	background-position: left -1188px;
}

.g20 {
	background-position: left -1254px;
}

.g21 {
	background-position: left -1320px;
}

.g22 {
	background-position: left -1386px;
}

.g23 {
	background-position: left -1452px;
}

.g24 {
	background-position: left -1518px;
}

.g25 {
	background-position: left -1584px;
}

.g26 {
	background-position: left -1650px;
}

.g27 {
	background-position: left -1716px;
}

.g28 {
	background-position: left -1782px;
}

.g29 {
	background-position: left -1848px;
}

.g30 {
	background-position: left -1914px;
}

.g31 {
	background-position: left -1980px;
}

.g32 {
	background-position: left -2046px;
}

.g33 {
	background-position: left -2112px;
}

.g34 {
	background-position: left -2178px;
}