.std-error-panel {
    width: 400px;
    height: 125px;
    font-size: 12px;
    padding: 20px 0px 0px 20px;
    background: transparent url("error_logo.jpg") no-repeat;
}

.std-error-panel > .head {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
	padding-left: 200px;
}

.std-error-panel > .body {
    line-height: 20px;
	padding-left: 200px;
}

.std-error-panel > .foot {
    height: 40px;
    line-height: 40px;
	padding-left: 200px;
}

.std-error-panel > .foot > a {
    color: #FF7E30;
    text-decoration: none;
}

.std-error-panel > .foot > a:hover {
    text-decoration: underline;
}